<app-side-panel></app-side-panel>
<div class="flex-layout">
  <main class="flex-element content">
    <app-nav></app-nav>
    <ul class="timetable">
      <ng-container *ngFor="let school of timeTableSection.schools">
        <li class="timetable__section" *ngIf="school.active && timeTableSection.lectures.length > 0 && timeTableSection.checkSchool(school.id)">
          <span class="timetable__label">{{school.title}}</span>
          <app-timetable-section [school]="school"></app-timetable-section>
        </li>
      </ng-container>
    </ul>
  </main>
</div>
