<div class="flex-layout">
    <main class="flex-element content">
                <input type="checkbox" class="menu__checkbox" id="sdi">
                <label for="sdi" href="javascript:;" class="menu-item">Школа разработки интерфейсов</label>
                <input type="checkbox" class="menu__checkbox" id="smd">
                <label for="smd" href="javascript:;" class="menu-item">Школа мобильной разработки</label>
                <input type="checkbox" class="menu__checkbox" id="sd">
                <label for="sd" href="javascript:;" class="menu-item">Школа дизайна</label>
        <ul class="timetable">
            <li class="timetable__section">
                <span class="timetable__label">Общие лекции</span>
                <ul class="timetable__child-section">
                    <li class="timetable-item">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author">
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                            <span>Сергей Бережной</span>
                        </a>
                        <span class="timetable-item__date">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>

                    </li>
                    <li class="timetable-item">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>
                    </li>
                </ul>
            </li>
            <li class="timetable__section sdi">
                <span class="timetable__label">Школа разработки интерфейсов</span>
                <ul class="timetable__child-section">
                    <li class="timetable-item">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Дмитрий Душкин</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>
                    </li>
                    <li class="timetable-item past">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date-hide">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>
                        <a href="javascript:;" class="timetable-item__video">Смотреть запись</a>
                    </li>
                </ul>
            </li>
            <li class="timetable__section smd">
                <span class="timetable__label">Школа мобильной разработки</span>
                <ul class="timetable__child-section">
                    <li class="timetable-item">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>

                    </li>
                    <li class="timetable-item past">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date-hide">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>
                        <a href="javascript:;" class="timetable-item__video">Смотреть запись</a>
                    </li>
                </ul>
            </li>
            <li class="timetable__section sd">
                <span class="timetable__label">Школа дизайна</span>
                <ul class="timetable__child-section">
                    <li class="timetable-item">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>

                    </li>
                    <li class="timetable-item past">
                        <span class="timetable-item__label">Лекция 1: Адаптивная вёрстка</span>
                        <a class="timetable-item__author"><span>Сергей Бережной</span>
                            <div class="author">
                                <img src="/src/assets/img/author.jpg" alt="author" class="author__photo">
                                <div class="author__description">
                                    Для молодых специалистов с опытом фронтенд-разработки веб-сервисов, не обязательно мобильных. Требуется знание
                                    HTML, CSS и JavaScript.
                                    Курс состоит из лекций и практических занятий, на которых специалисты Яндекса расскажут про самые важные аспекты
                                    разработки интерфейсов и поделятся знаниями о том, как создавать мобильные приложения с помощью веб-технологий.
                                </div>
                            </div>
                        </a>
                        <span class="timetable-item__date-hide">10.07.2017
                            <span class="timetable-item__place">Синий кит</span>
                        </span>
                        <a href="javascript:;" class="timetable-item__video">Смотреть запись</a>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
</div>