<ng-container *ngFor="let lecture of lectures" >
  <li class="timetable-item" *ngIf="lecture.school.id === schoolID" [id]="lecture.id">
    <span class="timetable-item__label">{{lecture.title}}</span>
    <a class="timetable-item__author">
      <app-author [author]="lecture.author" [ngClass]="{
      'timetable-item__author-active': author,
      'timetable-item__author-non-active': !author
    }"></app-author>
      <span (mouseenter)="toggleAuthor()" (mouseleave)="toggleAuthor()">{{lecture.author.title}}</span>
    </a>
    <span class="timetable-item__date">{{lecture.date}}
      <span class="timetable-item__place">{{lecture.classroom.title}}</span>
  </span>
  </li>
</ng-container>
